/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 23, 2015, 9:52:30 PM
    Author     : Lucian I. Last
*/

.textareaGui {
	/* don't forget to state the height in tag */
	width: 100%;
	font-family: monospace;
}